Lurn-WinForms/LurnPack.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="LurnPack.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Pack">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Set">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Card">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Front" type="xs:string" />
                    <xs:element name="Back">
                      <xs:complexType mixed="true">
                        <xs:sequence minOccurs="0">
                          <xs:element name="em" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="name" type="xs:string" use="required" />
            <xs:attribute name="id" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="name" type="xs:string" use="required" />
      <xs:attribute name="price" type="xs:decimal" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>